
html {
box-sizing: border-box;
}
*,*:before, *:after {
box-sizing: inherit;
}

body {
background-color: #ffffff;
color: #111111
border: 50px solid #4ab7f7;
border-radius: 10px;
font-family: Lato;
margin-left: auto;
margin-right: auto;
max-width: 1024px;
min-width: 256px;
padding-top: 8px;
padding-bottom: 24px;
padding-left: 24px;
padding-right: 24px;
}
html {
background: radial-gradiant(circle, SkyBlue, SkyBlue 50%, LightCyan 50%, SkyBlue);
background-size: 8px 8px;
}
nav ul {
	list-style-type: none;
	background-color: #ffe254;
	border: 4px solid #5b3f30;
	border-radius: 10px;
	font-family: sans-serif;
	font-weight: bold;
	padding: 16px;
}
nav ul li {
	display: inline;
	border-right: 2px solid #111111;
	padding-right: 8px;
	padding-left: 8px;
}
nav ul li:last-child {
	border-right: none;
}
nav ul li a {
	text-decoration: none;
	color: #111111;
}
p.disclaimer {
	border:4px dashed
	#916722;
	border-radius:10px;
	padding:16px;
	background-color:
	#ffe254;
}
p.disclaimer::before {
	color:Black;
	content:"DISCLAIMER!: ";
	font-weight:bold;
}
nav ul li a {
	text-decoration:none;
}
nav li.selected{
color:#606060;
}
nav li a:hover {
	text-decoration:
	underline;
	color: skyblue;
}
a:link {
	color: brown;
}
a:visited {
	color: brown;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
	background-color: white;
	color: SkyBlue;
}

/* technical stuff - set sizing to border box method */
html {
         box-sizing: border-box;
}

*, *:before, *:after {
         box-sizing: inherit;
}
a:hover {
  -webkit-animation: zomg 0.5s infinite;
  animation: zomg 0.5s infinite;
}

@-webkit-keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074d9; }
  32%      { color: #2ecc40; }
  48%      { color: #ffdc00; }
  64%      { color: #b10dc9; }
  80%      { color: #ff4136; }
}
@keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074d9; }
  32%      { color: #2ecc40; }
  48%      { color: #ffdc00; }
  64%      { color: #b10dc9; }
  80%      { color: #ff4136; }
}
/* style the various structural elements */
 html {
        background-color: #465368;
 }

body{
        background-color: #e0e0e0;
}

header {
        background-color: Crimson;
}

nav {
        background-color: DarkOrange; 
}

article {
         background-color: Gold; 
} 

section {
        background-color: #00f98d;
}

aside {
        background-color: RoyalBlue
}

footer {
        background-color: DarkOrchid; 
}
img.small {
	height: 200px;
}
img.medium {
	max-width: 360px;
	width: 50%;
}
img.large {
	width: 100%;
}
img.small {
	float: left;
	height: 200px;
	margin-bottom: 24px;
	margin-right: 24px;
}
header p {
	float: left;
	font-size: 16px;
	font-weight: bold;
	margain-top: 0px;
}

header h1 {
	font-size: 16px;
	text-align: right;
}

footer p.copyright {
	float: left;
	margain-top: 0px;
}

footer p.contact {
	text-align: right;
}
body, section, img {
	border: 2px solid gray;
	border-radius: 16px;
}
@media all and (min-width: 900px)
{
article {
float: right;
width: 66%;
}
aside {
	float: right;
	padding-right: 24px;
	width 34%
}
footer {
clear: both;
}
}
mark {
	background-color: #efefef;
}
h1 {
	font-family: 'Staatliches', cursive;
}

fit {
	font-family: 'Roboto', sans-serif;
	}
	p {
		font-family: 'Roboto', sans-serif;
	}
	games {
		font-family: 'Press Start 2P', cursive;
	}
	rfont {
		font-family: 'Righteous', cursive;
	}
	vfont {
font-family: 'Viga', sans-serif;
	}
	button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

/*
wahooo!!!!!!! It worked!!!
*/

html, body {
	width: auto;
	height: auto;
	padding: 16px;
	margin: auto;
}
body {

	/* W3C */
	background: linear-gradient(top, #ff3232 0%,#fcf528 16%,#28fc28 32%,#28fcf8 50%,#272ef9 66%,#ff28fb 82%,#ff3232 100%);

	/* Firefox */
	background: -moz-linear-gradient(top, #ff3232 0%, #fcf528 16%, #28fc28 32%, #28fcf8 50%, #272ef9 66%, #ff28fb 82%, #ff3232 100%);

	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3232), color-stop(16%,#fcf528), color-stop(32%,#28fc28), color-stop(50%,#28fcf8), color-stop(66%,#272ef9), color-stop(82%,#ff28fb), color-stop(100%,#ff3232));

	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top, #ff3232 0%,#fcf528 16%,#28fc28 32%,#28fcf8 50%,#272ef9 66%,#ff28fb 82%,#ff3232 100%);

	background-size: 1000%;
	-moz-background-size: 1000%;
	-webkit-background-size: 1000%;	

	/* W3C */
	animation-name: fun-time-awesome;
	animation-duration: 40s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;

	/* Firefox: */
	-moz-animation-name: fun-time-awesome;
	-moz-animation-duration: 40s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;

	/* Chrome, Safari */
	-webkit-animation-name: fun-time-awesome;
	-webkit-animation-duration: 40s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}

/* W3C */
@keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}

/* Firefox */
@-moz-keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}

/* Chrome, Safari */
@-webkit-keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}


h1, h2 {
	color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}
div {
	position: relative;
	z-index: 20;
}
#crushin {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 50;
}
audio {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 50;
	opacity: 0;
}
#counter {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	z-index: 50;
}
.face-source {
	display: none;
}
#faces-container {
	height: 100%;
}


/* mobile phone */
@media screen and (max-device-width: 480px) {
	body {
		height: 120%;
	}
	h1 {
		font-size: 25px;
	}
	h2 {
		font-size: 12px;
		top: 50px;
	}
	audio {
		opacity: 1;
		bottom: 30px;
		top: 90px;
		left: 10px;
	}
	#crushin {
		display: none;
	}
	#counter {
		top: 380px;
	}
}
